/* body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
} */

.bodyCalc {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/windowsScreen.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

* {
    line-height: 1.5em;
    font-weight: 600;
    list-style: none;
    cursor: default;
}

.calcBox {
    background-color: rgb(26, 35, 32);
    /*width: 320px;
    height: 460px;*/
    min-height: 455px;
    min-width: 310px;
    border-radius: 7px;
    resize: both;
    overflow: auto;
    border: 0.5px solid purple;
}

.sizeAnim {
    transition: 0.5s ease-in-out;
}
.calculator {
    display: flex;
    justify-content: center;
    margin: 30px;
}