.number, .operator, .equal {
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
}

.btnPosition {
    display: flex;
    align-items: center;
}

.number {
    color: white;
    background-color: rgba(54, 62, 61, 1);
    &:hover {
        background-color: rgba(45, 53, 52, 0.5);
    }
}

.operator {
    color: white;
    background-color: rgba(45, 53, 52, 0.5);
    &:hover {
        background-color: rgba(54, 62, 61, 1);
    }
}

.equal {
    color: black;
    background-color: rgb(219, 158, 229);
    &:hover {
        background-color: rgba(219, 158, 229, 0.7);
    }
}